doctype html
html(lang='ko')
  head
    title project_anmg
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      #brand{      
      padding:4px;
      height:100%;
      color:#4040be;
      font-size:3rem;
      }
      
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar            
          a.navbar-brand(href='/') project_anmg   
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/')
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(href='/')
                span.glyphicon.glyphicon-log-in
                |  Log in
                
    .container(style='margin-top:60px;')
      #brand
        img(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/project_anmg_main_2.png', alt='project_anmg_main_2' width='100%')        
      form(action='/return', method='post')
        fieldset.form-group
        legend         
       
        h4 트레킹 기간은 어느정도까지는 괜찮으세요?
        .form-group
          label(for='duration_rate')
          select#duration_rate.form-control(name='duration_rate' required)
            option(value='4') 선택 없음
            option(value='0') 산책코스
            option(value='1') 당일코스
            option(value='2') 1박2일코스
            option(value='3') 2박3일코스
            option(value='4') 3박이상코스
        legend 
        
        h4 트레킹 난이도는 어느정도까지는 괜찮으세요?
        .form-group
          label(for='difficulty_index')
          select#difficulty_index.form-control(name='difficulty_index' required)
            option(value='4') 선택 없음
            option(value='1') 정말 쉬워요
            option(value='2') 별로 힘들지 않아요
            option(value='3') 조금 힘들어요
            option(value='4') 많이 힘들어요   
        legend 
       
        h4 트레킹 여행 예산은 얼마정도 생각하세요?
        .form-group
          label(for='budget')
          select#budget.form-control(name='budget' required)
            option(value='999999999') 선택 없음
            option(value='10000') 1만원 이하
            option(value='20000') 2만원 이하
            option(value='50000') 5만원 이하
            option(value='100000') 10만원 이하
            option(value='200000') 20만원 이하
            option(value='999999999') 나는야 금수저일세..
        legend 
        br
        input(type='submit' value='SEARCH..')
      br