doctype html
html(lang='ko')
  head
    title 모두의 하이킹
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
      }
  body
  .container
  h1
    | 체력도 자신없고,
    br
    | 예산도 충분하지는 않지만,
    br
    | 어딘가에는 소박하게 빛나고 있을
    br 
    | 나만의 트레킹 코스를 찾아보세요.
  p
    | 꼭 맞는 코스를 제안하기 위해서
    br
    | 아래 빈칸을 채워주세요. 
  br
  form(action='/return', method='post')
     label 트레킹도 좋지만 무리하지 맙시다!
       br
       input(type='text' name='course_distance' placeholder='최대 트레킹 거리 예) 4000 ← 4km' size='35' autofocus required)
     br
     br
     label 얼만큼의 고강도의 운동을 감당하시나요? 
       br
       input(type='text' name='course_difficulty' placeholder='최대 체력 수준 예) 0.5 ← 내 체력의 50%' size='35'  autofocus required)
     br
     br
     label 이불밖은 위험하지만, 돈이면 되니까!
       br
       input(type='text' name='course_budget' placeholder='예산은 얼마에요? 예) 150000 ← 15만원' size='35'  autofocus required)
     br
     br
     label 이정도 시간정도는 내몸이 감당하겠지..
       br
       input(type='text' name='course_duration' placeholder='분 단위로 적어주세요? 예) 100 ← 1시간 40분' size='35'  autofocus required)
     br
     br
     label 고산증이 있을 수도 있으니까!
       br
       input(type='text' name='course_summit' placeholder='높이를 적어주세요? 예) 8000 ← 8000미터' size='35'  autofocus required)
     br
     br
     p
     input(type='submit' value='나에게 맞는 트레킹 코스 찾아보기')  