doctype html
html(lang='ko')
  head
    title 모두의 하이킹
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 30px;
      margin-left: 30px;
      }
      h1 {
      font-weight:bold;
      color:#4a4242;
      }
  body
  .container
  h1
    | 체력도 자신없고,
    br
    br
    | 예산도 빡빡하지만,
    br
    br
    | 그래도 어딘가에는,
    br
    br
    | 나만을 위해서 빛나고 있을,
    br
    br
    | 하이킹 코스를 찾고 계세요?
    br
    br
    br    
  h4
    | 꼭 맞는 코스를 제안하기 위해서
    br
    br
    | 아래 빈칸을 모두 채워주세요. 
  br
  br

  form(action='/return', method='post')
     label 얼마나 멀리 걸을 수 있어요!?
       br
       input(type='text' name='course_distance' placeholder='미터 단위로 적어주세요 예) 4000 ← 4km' size='40' autofocus required)
     br
     br
     label 힘든걸 어느 정도까지 견딜 수 있어요!? 
       br
       input(type='text' name='course_difficulty' placeholder='소수점 단위로 적어주세요 예) 0.5 ← 내 체력의 50%' size='40'  autofocus required)
     br
     br
     label 예산은 얼마나 사용이 가능하세요!?
       br
       input(type='text' name='course_budget' placeholder='원 단위로 적어주세요 예) 150000 ← 15만원' size='40'  autofocus required)
     br
     br
     label 얼마나 오랫동안 걸으실 수 있어요!?
       br
       input(type='text' name='course_duration' placeholder='분 단위로 적어주세요? 예) 100 ← 1시간 40분' size='40'  autofocus required)
     br
     br
     label 얼마나 높게 올라가실 수 있어요!?
       br
       input(type='text' name='course_summit' placeholder='미터 단위로 적어주세요 예) 8000 ← 8000미터' size='40'  autofocus required)
     br
     br
     p
     input(type='submit' value='검색')  